<%= simple_form_for(@user, html: { multipart: true, class: "form-horizontal" }) do |f| %>
  <%= f.input :email, label: "用户邮箱", placeholder: 'xxx@xx.com' %>
  <div class="line line-dashed b-b line-lg pull-in"></div>
  <%= f.input :password, label: "用户密码"%>
  <div class="line line-dashed b-b line-lg pull-in"></div>
  <%= f.input :password_confirmation, label: "确认密码" %>
  <%#= f.input :active, as: :boolean, html: true,  label: "活动宣传图片" %>
  <div class="line line-dashed b-b line-lg pull-in"></div>
  <div class="col-sm-10 col-sm-offset-2">
    <%= f.button :submit, "提 交", class: "btn btn-primary" %>
    <%= link_to "返 回", users_path, class: "btn btn-default" %>
  </div>
<% end %>
