<aside id="aside" class="app-aside app-aside-fixed hidden-xs bg-dark">
  <div class="aside-wrap">
    <div class="navi-wrap">
      <!-- nav -->
      <nav ui-nav class="navi clearfix">
        <ul class="nav">
          <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
            <span>导航</span>
          </li>
          <li class="<%= "active" if controller_name == "home" %>">
            <a href="/admin/sidekiq" class="auto">
              <i class="glyphicon glyphicon-stats icon text-primary"></i>
              <span class="font-bold">控制面板</span>
            </a>
          </li>
          <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
            <span>平台管理</span>
          </li>

            <li class="<%= "active" if controller_name == "merchants" %>">
              <a href="/merchants" class="auto">
                <i class="glyphicon glyphicon-cutlery"></i>
                <span>商家管理</span>
              </a>
            </li>

            <li class="<%= "active" if controller_name == "citys" %>">
              <a href="/citys" class="auto">
                <i class="glyphicon glyphicon-road"></i>
                <span>城市管理</span>
              </a>
            </li>

            <li class="<%= "active" if controller_name == "maidans" %>">
              <a href="/maidans" class="auto">
                <i class="glyphicon glyphicon-book"></i>
                <span>买单管理</span>
              </a>
            </li>

            <li class="<%= "active" if controller_name == "daijinjuans" %>">
              <a href="/daijinjuans" class="auto">
                <i class="glyphicon glyphicon-usd"></i>
                <span>代金券管理</span>
              </a>
            </li>

            <li class="<%= "active" if controller_name == "tuangous" %>">
              <a href="/tuangous" class="auto">
                <i class="glyphicon glyphicon-shopping-cart"></i>
                <span>团购管理</span>
              </a>
            </li>

            <li class="<%= "active" if controller_name == "users" %>">
              <a href="/users" class="auto">
                <i class="glyphicon glyphicon-user"></i>
                <span>用户管理</span>
              </a>
            </li>

          <li class="line dk hidden-folded"></li>
        </ul>
      </nav>
      <!-- nav -->
    </div>
  </div>
</aside>
